/*
Nome: {name}
Descrição:
{description}

Paramatros: 
{params-description}

Retorno: {type-return} - {description-return}
*/
function {name-question}({params}) {
    return;
}

module.exports = {
    {name-question}
} 